aspy.yaml==1.1.2
atomicwrites==1.3.0
attrs==18.2.0
certifi==2018.11.29
cfgv==1.4.0
chardet==3.0.4
codecov==2.0.15
coverage==4.5.2
identify==1.2.1
idna==2.8
importlib-metadata==0.8
importlib-resources==1.0.2
mock==2.0.0
more-itertools==5.0.0
nodeenv==1.3.3
pbr==5.1.2
pluggy==0.8.1
pre-commit==1.14.3
py==1.7.0
pytest==4.2.0
PyYAML==3.13
requests==2.21.0
six==1.12.0
toml==0.10.0
urllib3==1.24.1
virtualenv==16.4.0
zipp==0.3.3
